
<%= stylesheet_link_tag "checkr.css" %>




<div class="maincontainer"> <!--  Rouge -->

	<div class="bckgrd"> 

			<header> <!--  Green -->
				<div class="headlinks"> 
					<a href="#" class="top">I Am an Applicant</a>
					<a href="#" class="top"> API and Docs</a>
					<a href="#" class="top">About Us</a>
					<a href="#" class="top">Careers</a>

				</div>

			</header>

	<div class="secondmain"> 

				<div class="linkstop"> <!--  Yellow -->

					<div class= "logo"> 
						<%=image_tag("logocheckr.png", alt: "logo", class: "logoimg") %>
					</div>

					<ul>
  						<li class="dropdown">
    						<a href="javascript:void(0)" class="dropbtn">Product</a>
    						<div class="dropdown-content">
      							<a href="#">Overview</a>
      							<a href="#">Screening</a>
      							<a href="#">Compliance</a>
      							<a href="#">Security</a>
    						</div>
  						</li>

  						<li class="dropdown">
    						<a href="javascript:void(0)" class="dropbtn">staffing</a>
    						<div class="dropdown-content">
      							<a href="#">Overview</a>
      							<a href="#">Screening</a>
      							<a href="#">Compliance</a>
      							<a href="#">Security</a>
    						</div>
  						</li>

  						<li class="dropdown">
    						<a href="javascript:void(0)" class="dropbtn">industries</a>
    						<div class="dropdown-content">
      							<a href="#">Overview</a>
      							<a href="#">Screening</a>
      							<a href="#">Compliance</a>
      							<a href="#">Security</a>
    						</div>
  						</li>

  						<li class="dropdown">
    						<a href="javascript:void(0)" class="dropbtn">resources</a>
    						<div class="dropdown-content">
      							<a href="#">Overview</a>
      							<a href="#">Screening</a>
      							<a href="#">Compliance</a>
      							<a href="#">Security</a>
    						</div>
  						</li>

  						<li class="dropdown">
    						<a href="javascript:void(0)" class="dropbtn">compliances</a>
    						<div class="dropdown-content">
      							<a href="#">Overview</a>
      							<a href="#">Screening</a>
      							<a href="#">Compliance</a>
      							<a href="#">Security</a>
    						</div>
  						</li>




					</ul>




				</div>



	<div class="middle"> 	

			<div class="left"><!--  fushya -->

				<div class="insideleft">

					<h1 class="titre1">HIRE GREAT PEOPLE. </br> FASTER.</h1>
				

					<p class="paraf">Checkr provides modern and compliant background checks for global enterprises and startups.</p>

					<button class="yellowbut"> Explore Now  > </button>

				</div>


			</div>

			<div class="right"> 

				<div class= "video"> 
						<%=image_tag("video.png", alt: "video", class: "videoimg") %>
				</div>

			</div>

	</div>	


	</div>
	</div>


	<div class="page2">


		<div class= "brands"> 
						<%=image_tag("brands.png", alt: "brands", class: "brandsimg") %>
		</div> <!-- class brands-->


	</div> <!-- Class Page2 -->

</div>
