<%= stylesheet_link_tag "flynn.css" %>


<div class="principalecontain">  

	<div class="containertwo">

	

	<header>

		<div class="logocontain">

			<div class="logodiv">
				<%=image_tag("flynnlogo.png", alt: "logoflynn", class: "flynnlogoimg") %>

			</div> <!-- logo -->


			<nav class="navigation">

 				  <a href="#" class="navlink">About</a>
  				  <a href="#" class="navlink">Docs</a>
  				  <a href="#" class="navlink">Blog</a>
  				  <a href="#" class="navlink">Pricing</a>
  				  
			</nav>
			<div class="try"> 

				<button class="navlink navlink2"> Try </button>

			</div>  <!-- Try-->

		</div> <!-- logocontain -->

	</header>

<div class="mainsousheader"> 

		<div class="toptitle">

			<h1 class="h1top"> Throw away the duct tape. </br> Say hello to Flynn </h1>


		</div> <!-- Top Title -->

		<!-- <div class="mediadiv">  -->

			<div class="mediacontent"> 

				<iframe width="90%" height="100%" src="https://www.youtube.com/embed/2Z4m4lnjxkY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen class="videoyt"></iframe>

			


			</div> <!-- Class mediacontent -->

		<!-- </div>  mediadiv-->

		</div> <!--  mainsousheader -->





		<div class="navmiddle"> 

			<nav class="navmiddle1">

 				  <button href="#" class="navmiddlebut">APP</button>
  				  <button href="#" class="navmiddlebut">Manage</button>
  				  <button href="#" class="navmiddlebut">Databases</button>
  				  
  				  
			</nav> <!-- navmiddle --> 

		</div> <!-- navmiddle-->


		<div class="part2">

				<div class="title2"> 


					<h1 class="h1middle"> Powerful and easy. The </br> way it should be. </h1>
					<h2 class="subtitle2"> Flynn is an open source platform (PaaS) for running 	applications in production.
					It does everything you need, out of the box: </h2>

				<div class="bulletcapsule">
					<ul class="bullet">

						<li class="libullet"> Creates running applications directly from your code so there's no need to learn configuration management or build custom stacks for each app </br></br></li> 

						<li class="libullet"> Routes and load balances traffic to every instance of each of your apps</br></br></li>

						<li class="libullet"> Includes built-in Postgres, MySQL, and MongoDB databases with safe, automatic high availability</br></br></li>

						<li class="libullet"> Connects all your microservices with built-in service discovery</br></br></li>

						<li class="libullet"> Makes scaling your cluster to just the right size easy so you save money on your cloud bills</br></br></li>


					</ul>
				</div><!-- bulletcapsule-->


				</div> <!-- tilte2 -->



		</div> <!-- part2 -->

	</div> <!-- Containertwo -->



</div> <!-- principalecontain -->